html, body {
    height: 100%;
}

.box, #root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .boxrow.header {
    flex: 0 1 auto;
}

.box .boxrow.content {
    flex: 1 1 auto;
}

.flex-container {
    display: flex;
    height: 100%;
    overflow-x: auto;
}

.flex-column {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin: 10px;
    min-width: 355px;
    max-width: 355px;
}

.add-column {
    text-align: center;
    border: 1px dashed #aaaaaa;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin: 10px;
    min-width: 355px;
    max-width: 355px;
    font-size: 30px;
    height: 100px;
}

.taskname {
    padding: 10px 5px;
}

.taskcount {
    background-color: #cccccc;
    border-radius: 14px;
    padding: 2px 8px;
    margin-right: 5px;
}

.tasklist {
    overflow-y: auto;
}

.task {
    background-color: #ffffff;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    height: 100px;
    overflow: hidden;
}

.plus-button {
    float: right;
    padding-right: 10px;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

.title {
    font-weight: bold;
}

.description {
    text-overflow: ellipsis;
}

textarea {
    width: 100%;
    margin: 5px 10px;
    border-radius: 5px;
    height: 63px;
    border: 1px solid #aaaaaa;
}

.add-task {
    margin: 5px 10px;
}

.button-add-or-cancel {
    width: 48%;
    border: 1px solid #aaaaaa !important;
}

.button-cancel {
    float: right;
}

.projects {
    border:  1px solid #dddddd;
}
